<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Sign up</title>
</head>
<body>
  <div class="container">
    <form th:action="@{/auth/registry}" th:object="${user}" th:method="POST" class="form-signin" method="post" action="/">
      <h2 class="form-signin-heading">Sign up</h2>
      <p>
        <label for="username" class="sr-only">Username</label>
        <input th:field="*{login}" type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
      </p>
      <p>
        <label for="role" class="sr-only">Role</label>
        <input th:field="*{role}" type="text" id="role" name="role" class="form-control" placeholder="USER/ADMIN" required="">
      </p>
      <p>
        <label for="password" class="sr-only">Password</label>
        <input th:field="*{password}" type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
      </p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>
</body>
</html>